/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/.gitignore
/.idea/aws.xml
/.idea/clickhouse-2023-12-1.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
